/*.setColor {
    float:left;
    width: 50px;
    height: 50px;
    margin: 5px;
}*/

#popupContent {
    clear: both;
    font-size: 14px;
    line-height: 1.4;
}

#generateButton {
    font-size: 14px;
}

.regularText {
    clear: both;
    font-size: 14px;
    line-height: 1.4;
    white-space: nowrap;
}

.controls {
    margin-bottom: 10px;
}

#customModel {
    margin-top: 5px;
    width: 202px;
}
#inputKey {
    margin-top: 5px;
    width: 175px;
    padding-right: 30px;
}
#modelSelect {
    height: 21px;
    /*min-width: 220px;*/
}

.hidden {
    display: none;
}

.inputKeyContainer {
    position: relative;
    display: inline-block;
}

.eyeButton {
    position: absolute;
    right: 0px;
    top: 58%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    height: 100%;
}